body {
    background-color: aqua          ;

}
.box{
    min-width: 100px;/*largura*/
    height: 100px;/*altura*/
    border: 3px dashed cornflowerblue;/*espessura, etilo, cor da borda*/
}
.row{
    display: flex;/*habilita os recursos do flex*/
    flex-direction: row; /*transforma o elemento em uma linha (horozontal)*/
gap: 30px;
background-color: aliceblue;
flex-wrap: wrap;

}

.row:nth-last-of-type(1){
    
    background-color: blueviolet;
    justify-content: flex-start;
}
.row:nth-last-of-type(2){
   
    background-color: bisque;
    justify-content: flex-end;
}
.row:nth-last-of-type(3){ 
    background-color: blueviolet;
    justify-content: center;
}
.row:nth-last-of-type(4){ 
    background-color:bisque ;
    justify-content: space-between;
}
