body {
    background-color: rgb(245, 239, 239);
}

#cabecalho {
    background-color: blueviolet(255, 255, 255, 255);
}

#menu {
    color: white;
    margin: 0;
}
#logo {

    width: 80px;
    margin: 0;
}
 