/*
element {
    attr: valor;
    attr: valor;
    attr: valor;
}
*/

.material-symbols-outlined {
    font-size: 100px;
    color:black;
}
header{
    display: flex;/*habilita os recursos do flex*/
    flex-direction: row; /*transforma o elemento em uma linha (horozontal)*/
justify-content:space-between;
}


